<div id="ChatRoomTabSetting">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
			<span class="title"><span class="tabname"></span> message log settings</span>
		</div>
		<div class="right">
			<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="panel" data-background="basic_interface/chatwin1_mid.bmp">
		<div class="content">
			<div class="listoption">
				<button data-id="1" data-type="2" data-background="basic_interface/grp_offline.bmp">Public</button>
				<button data-id="2" data-type="3" data-background="basic_interface/grp_offline.bmp">Public Chat</button>
				<button data-id="3" data-type="8" data-background="basic_interface/grp_offline.bmp">Party Chat</button>
				<button data-id="4" data-type="16" data-background="basic_interface/grp_offline.bmp">Guild Chat</button>
				<button data-id="5" data-type="256" data-background="basic_interface/grp_offline.bmp">Item get/drop</button>
				<button data-id="6" data-type="4" data-background="basic_interface/grp_offline.bmp">Private Message</button>
				<button data-id="7" data-type="128" data-background="basic_interface/grp_offline.bmp">Equipment on/off</button>
				<button data-id="8" data-type="64" data-background="basic_interface/grp_offline.bmp">Abnormal Status</button>
				<button data-id="9" data-type="128" data-background="basic_interface/grp_offline.bmp">Party member search</button>
				<button data-id="10" data-type="128" data-background="basic_interface/grp_offline.bmp">Battle Message</button>
				<button data-id="11" data-type="256" data-background="basic_interface/grp_offline.bmp">Party Member's battle message</button>
				<button data-id="12" data-type="256" data-background="basic_interface/grp_offline.bmp">Experience message</button>
				<button data-id="13" data-type="256" data-background="basic_interface/grp_offline.bmp">Quest Information</button>
				<button data-id="14" data-type="256" data-background="basic_interface/grp_offline.bmp">Battlefield message</button>
				<button data-id="15" data-type="256" data-background="basic_interface/grp_offline.bmp">Clan chat</button>
				<button data-id="16" data-type="512" data-background="basic_interface/grp_offline.bmp">Admin Chat</button>
			</div>
			<div class="clear"></div>
			<div class="footer-opt">
				<button class="select_all">All on</button>
			</div>
		</div>
	</div>
</div>