<div id="MobileUI">
	<button id="fullscreenButton" class="fullscreen-button">เต็มจอ</button>
	<button id="rightClickButton">คลิกขวาตามตำแหน่งวางเมาส์ (Cursor)</button>
	
	<div id="topBar" class="buttonBar">
		
	</div>
	
	
	<div id="leftBar" class="buttonBar">
		<button id="f10Button" class="buttons mobileKeys secondary vertical">F10</button><br/>
		<button id="f12Button" class="buttons mobileKeys secondary vertical">F12</button><br/>
		<button id="insButton" class="buttons mobileKeys secondary vertical">นั่ง</button><br/>
	</div>
	
	

<div id="rightBar" class="buttonBar">
    <div id="f3Button" class="buttons mobileKeys secondary vertical">F3</div>
    <div id="f4Button" class="buttons mobileKeys secondary vertical">F4</div>
	<button id="attackButton" class="buttons mobileKeys vertical primary">โจมตี</button><br/>
</div>


	
		
		
	
</div>
